<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>统计图</title>
    <link rel="stylesheet" href="/public/assets/bootstrap.min.css">
    <style>
      
        select {
            width: 100px;
            height: 30px;
            border-radius: 5px;
            padding-left: 10px;
        }
    </style>
</head>

<body>
    {% set month = ctx.request.query.month%}
    {% set year = ctx.request.query.year%}
    <div style="width:80%;margin: 0 auto;">
        <form action="/view/table" method="GET">
            <select name="year">
                    <option value="2018" {{'selected' if year=='2018' }}>2018年</option>
                    <option value="2019" {{'selected' if year=='2019'}}>2019年</option>
                    <option value="2020" {{'selected' if year=='2020'}}>2020年</option>
                </select>
                <select name="month">
                    <option value="1" {{'selected' if month=='1'}}>一月</option>
                    <option value="2" {{'selected' if month=='2'}}>二月</option>
                    <option value="3" {{'selected' if month=='3'}}>三月</option>
                    <option value="4" {{'selected' if month=='4'}}>四月</option>
                    <option value="5" {{'selected' if month=='5'}}>五月</option>
                    <option value="6" {{'selected' if month=='6'}}>六月</option>
                    <option value="7" {{'selected' if month=='7'}}>七月</option>
                    <option value="8" {{'selected' if month=='8'}}>八月</option>
                    <option value="9" {{'selected' if month=='9'}}>九月</option>
                    <option value="10" {{'selected' if month=='10'}}>十月</option>
                    <option value="11" {{'selected' if month=='11'}}>十一月</option>
                    <option value="12" {{'selected' if month=='12'}}>十二月</option>
                </select>
            <input type="submit" value="查询"
                style="background: #409EFF;border:0;color:#fff;width:80px;height:30px;border-radius: 4px;;">
        </form>
    </div>

    <div style="width:80%;margin: 0 auto;">
        <h1 style="text-align: center;">
            <span class="year">{{year}}</span>年<span class="month">{{month}}</span>月设备故障清单
        </h1>
        <table class="table table-striped table-bordered">
            <tr>
                <th>#</th>
                <th>设备类型</th>
                <th>设备总数</th>
                <th>累计故障次数</th>
                <th>本月故障次数</th>
                <th>本月修复次数</th>
                <th>累计未修复数</th>
            </tr>
            {% for item in getdeviceTable %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{item.fdName}}</td>
                <td>{{item.count}}</td>
                <td>{{item.breakdownNum}}</td>
                <td>{{item.breakdownNumM}}</td>
                <td>{{item.repairM}}</td>
                <td>{{item.unRepair}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>2</td>
                <td>多媒体西沃</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
        </table>
    </div>


    <div style="width:80%;margin: 0 auto;">
        <h1 style="text-align: center;">
            
            <span class="year">{{year}}</span>年<span class="month">{{month}}</span>月维修人员考核表
        </h1>
        <table class="table table-striped table-bordered">
            <tr>
                <th>#</th>
                <th>工号</th>
                <th>姓名</th>
                <th>本月工单数</th>
                <th>服务态度</th>
                <th>维修时效</th>
                <th>总得分</th>
            </tr>
            {% for item in assessment %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.count}}</td>
                <td>{{item.serviceAttr}}</td>
                <td>{{item.requireSpeed}}</td>
                <td>{{item.totalScore}}</td>
            </tr>
            {% endfor%}
        </table>
    </div>





</body>
</html>